.marquee-body{
    display: flex;
    border: 3.1px solid green;
    font-size: x-large;
    font-weight: 600;
}
.marquee-img{
    margin: 0px 18px;
    height: 40px;
}


@media screen and (max-width: 480px){
    .marquee-body{
        display: flex;
        border: 2.1px solid green;
        font-size: medium;
        font-weight: 600;
    }
    .marquee-img{
        margin: 0px 12px;
        height: 30px;
    }
}