.marquee-body{
    display: flex;
    font-size: x-large;
    font-weight: 600;
    margin: 0px 20px;
}
.marquee-img{
    margin: 0px 18px;
    height: 40px;
}


@media screen and (max-width: 516px){
    .marquee-body{
        display: flex;
        font-size: small;
        font-weight: 600;
    }
    .marquee-img{
        margin: 0px 12px;
        height: 30px;
    }
}